/* styles.css o el archivo CSS correspondiente */
.custom-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.custom-scrollbar::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.btn-primary {
  font-size: 0.875rem; /* Ajustar el tamaño de la fuente */
  padding: 0.5rem 1rem; /* Ajustar el padding */
}