<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex items-center justify-between">
    <div class="text-white text-2xl font-bold">
      <a routerLink="/">MovieApp</a>
    </div>
    <div class="hidden md:flex space-x-4">
      <a
        routerLink="/"
        class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
        >Inicio</a
      >
      <div class="relative">
        <button
          class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
          id="moviesMenuButton" routerLink="/movies"
        >
          Películas
        </button>
      </div>
      <div class="relative">
        <button
          class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
          id="tvShowsMenuButton" routerLink="/series"
        >
          Series de TV
        </button>
      </div>
      <a
        routerLink="/search"
        class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
        >Buscar</a
      >
      <a
        routerLink="/people"
        class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
        >Actores</a
      >      
      <a
      (click)="logOut()"
      class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
      >Salir</a
    >
    </div>
  </div>
</nav>

<main>
  <div>
    <router-outlet></router-outlet>
  </div>
</main>
